<nav class="indigo">
  <div class="nav-wrapper container">
    <div class="col s12">
      <a href="/" class="brand-logo">{{ site.title }}</a>
      <ul class="right hide-on-med-and-down">
        <li><a href="sass.html">Sass</a></li>
        <li><a href="components.html">Components</a></li>
        <li><a href="sass.html"><i class="mdi-action-search"></i></a></li>
        <li><a href="mobile.html"><i class="mdi-navigation-more-vert"></i></a></li>
      </ul>
      <a href="#" data-activates="slide-out" class="button-collapse"><i class="mdi-navigation-menu"></i></a>
    </div>
  </div>
</nav>
