@charset "UTF-8";
/**
Melon and Lemon style
*/

body {
  font-family: meiryo;
  font-size: 16px;
  line-height: 1.8em;
  color: #444;
}
.btn {
  font-size: 12px;
}
.logo {
  line-height: 173px;
}
.bold {
  font-weight: bold;
  line-height: 60px;
}
.container {
  width: 90%;
  margin: 0 auto;
}
.site-title {
  font-family: "Roboto";
  font-size: 39px;
  font-weight: 300;
  text-align: center;
  line-height: 1.2em;
  margin: .5em 0;
}
.site-description {
  font-family: "Roboto";
  font-size: 14px;
  font-weight: 300;
  text-align: center;
  margin: 0;
  padding: 0;
}
.archive-post {
  margin: 1em 0 5em;
  padding: 1em;
}
.post-title {
  font-size: 32px;
  line-height: 1.2em;
  color: #666;
}
.post-content h1,
.post-content h2,
.post-content h3,
.post-content h4,
.post-content h5,
.post-content h6 {
  font-weight: bold;
  line-height: 1.2em;
  color: #666;
  margin: 0 0 2em;
}
.post-content h1 { font-size: 28px; }
.post-content h2 { font-size: 24px; }
.post-content h3 { font-size: 20px; }
.post-content h4 { font-size: 16px; }
.post-content h5 { font-size: 14px; }
.post-content h6 { font-size: 12px; }

main {
    padding-left: 240px;
  }

  @media only screen and (max-width : 992px) {
    main {
      padding-left: 0;
    }
  }
